<configuration>
	<configSections>
		<section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
		<section name="recalculatorConfiguration" type="ABB.IMS.PA.CalcNet.Recalculator.RecalculatorConfiguration, CalcNet.Recalculator" restartOnExternalChanges="false" />
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.2.0" newVersion="3.5.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<infragistics.web imageDirectory="Infragistics/Images" cssDirectory="Infragistics/20103CLR35/Styles" javaScriptDirectory="Infragistics/20103CLR35/Scripts" formsDirectory="Infragistics/20103CLR35/Forms" />
	<appSettings>
		<add key="Bootstrapper.Manifest" value="bootstrap.config" />
		<add key="Portal.XML.Directory" value="" />
		<add key="Portal.ConnectionString" value="server=localhost;database=Datamine_PA_Portal;Integrated Security=SSPI" />
		<add key="Config.ConnectionString" value="server=localhost;database=Datamine_PA_Data;Integrated Security=SSPI" />
		<add key="JKMA.ConnectionString" value="server=localhost;database=;Integrated Security=SSPI" />
		<add key="IIOP Port" value="0" />
		<add key="ContainerName" value="Datamine IMS Web Portal" />
		<add key="MixedModeAuth" value="true" />
		<add key="UnmappedColumnsLogFile" value="Unmapped.log" />
		<add key="WebServiceLogDirectory" value="C:\Datamine\PA\Logs" />
		<add key="adRoot" value="" />
		<add key="adUsername" value="" />
		<add key="adPassword" value="" />
		<add key="aclPath" value="~/acl.txt" />
		<add key="SMTPServer" value="localhost" />
		<add key="CompanyName" value="Company Site Name" />
		<add key="NumberOfSkippedTabMenu" value="5" />
		<add key="IOC Type" value="Ventyx.IMS.IOC.Autofac.AutofacMonostate, IOC.Autofac" />
	</appSettings>
	<system.webServer>
		<!-- IIS 7 -->
		<!-- This is to support HttpHandler registration for both IIS 6 and 7 -->
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="RecalcNowHandler" path="CalcNet.RecalcNow" verb="*" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.RecalcNowHandler, Karjeni.CalcNet.Web" resourceType="Unspecified" requireAccess="Script" />
			<add name="GetSetsHandler" path="CalcNet.FilterSets" verb="*" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.GetSetsHandler, Karjeni.CalcNet.Web" resourceType="Unspecified" requireAccess="Script" />
			<add name="GetRecalcConfigHandler" path="CalcNet.GetRecalcConfig" verb="*" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.GetRecalcConfigHandler, Karjeni.CalcNet.Web" resourceType="Unspecified" requireAccess="Script" />
			<add name="SaveRecalcSchedulerConfigHandler" path="CalcNet.SaveRecalcSchedulerConfig" verb="*" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.SaveRecalcSchedulerConfigHandler, Karjeni.CalcNet.Web" resourceType="Unspecified" requireAccess="Script" />
			<add name="SaveRecalcSetsConfigHandler" path="CalcNet.SaveRecalcSetsConfig" verb="*" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.SaveRecalcSetsConfigHandler, Karjeni.CalcNet.Web" resourceType="Unspecified" requireAccess="Script" />
			<add name="TraceCalculationHandler" path="CalcTracer.TraceCalculation" verb="*" type="Mincom.IMS.CalcNet.Tracer.UI.TraceCalculationHandler, CalcNet.Tracer.UI" resourceType="Unspecified" requireAccess="Script" />
			<add name="ExportFileHandler" path="CalcTracer.ExportFile" verb="*" type="Mincom.IMS.CalcNet.Tracer.UI.ExportFileHandler, CalcNet.Tracer.UI" />
			<add name="CalcTracerFilterSetsHandler" path="CalcTracer.FilterSets" verb="*" type="Mincom.IMS.CalcNet.Tracer.UI.FilterSetsHandler, CalcNet.Tracer.UI" resourceType="Unspecified" requireAccess="Script" />
			<add name="CalcTracerFilterAttributesHandler" path="CalcTracer.FilterAttributes" verb="*" type="Mincom.IMS.CalcNet.Tracer.UI.FilterAttributesHandler, CalcNet.Tracer.UI" resourceType="Unspecified" requireAccess="Script" />
			<add name="AuditExportFileHandler" verb="GET" path="AuditBrowser.ExportFile" type="Ventyx.IMS.AuditLogging.UI.AuditFileExportHandler, AuditLogging.UI" />
			<add name="LoggingExportFileHandler" verb="GET" path="LoggingBrowser.ExportFile" type="Ventyx.IMS.AuditLogging.UI.LoggingFileExportHandler, AuditLogging.UI" />
		</handlers>
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
		<security>
			<authentication>
				<windowsAuthentication enabled="true" />
				<anonymousAuthentication enabled="false" />
			</authentication>
		</security>
		<httpRedirect enabled="false" destination="https://localhost/PA" httpResponseStatus="Permanent" />
		<rewrite>
			<outboundRules>
				<rule name="Content-Security-Policy">
					<match serverVariable="RESPONSE_Content_Security_Policy" pattern=".*" />
					<conditions>
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="^(text/html|text/xml|application/xhtml+xml|text/javascript|application/pdf|image/svg+xml)" negate="true" />
					</conditions>
					<action type="Rewrite" value="" />
				</rule>
				<rule name="Remove Server header">
					<match serverVariable="RESPONSE_Server" pattern=".+" />
					<action type="Rewrite" value="" />
				</rule>
				<rule name="Add Same Site Cookie Flag">
					<match serverVariable="RESPONSE_Set-Cookie" pattern="^(.*)(ASP.NET_SessionId)(=.*)HttpOnly;" />
					<action type="Rewrite" value="{R:0} SameSite=Strict" />
				</rule>
			</outboundRules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<remove name="X-Powered-By" />
				<add name="Content-Security-Policy" value="default-src 'self' https://localhost/;
						style-src 'self' 'unsafe-inline';
						script-src 'self' 'unsafe-eval' 'unsafe-inline';
						frame-ancestors 'self' " />
				<add name="X-Content-Type-Options" value="nosniff" />
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5.1" /> 
			</system.Web> 
	-->
	<system.web>
		<httpRuntime targetFramework="4.8" requestValidationMode="4.5" enableVersionHeader="false" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" />
		<!-- IIS 6 -->
		<httpHandlers>
			<add verb="*" path="CalcNet.RecalcNow" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.RecalcNowHandler, Karjeni.CalcNet.Web" />
			<add verb="*" path="CalcNet.FilterSets" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.GetSetsHandler, Karjeni.CalcNet.Web" />
			<add verb="*" path="CalcNet.GetRecalcConfig" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.GetRecalcConfigHandler, Karjeni.CalcNet.Web" />
			<add verb="*" path="CalcNet.SaveRecalcSchedulerConfig" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.SaveRecalcSchedulerConfigHandler, Karjeni.CalcNet.Web" />
			<add verb="*" path="CalcNet.SaveRecalcSetsConfig" type="Karjeni.CalcNet.Web.LogsheetRecalculator.HttpHandlers.SaveRecalcSetsConfigHandler, Karjeni.CalcNet.Web" />
			<add verb="*" path="CalcTracer.TraceCalculation" type="Mincom.IMS.CalcNet.Tracer.UI.TraceCalculationHandler, CalcNet.Tracer.UI" />
			<add verb="*" path="CalcTracer.ExportFile" type="Mincom.IMS.CalcNet.Tracer.UI.ExportFileHandler, CalcNet.Tracer.UI" />
			<add path="CalcTracer.FilterSets" verb="*" type="Mincom.IMS.CalcNet.Tracer.UI.FilterSetsHandler, CalcNet.Tracer.UI" />
			<add path="CalcTracer.FilterAttributes" verb="*" type="Mincom.IMS.CalcNet.Tracer.UI.FilterAttributesHandler, CalcNet.Tracer.UI" />
			<add verb="GET" path="AuditBrowser.ExportFile" type="Ventyx.IMS.AuditLogging.UI.AuditFileExportHandler, AuditLogging.UI" />
			<add verb="GET" path="LoggingBrowser.ExportFile" type="Ventyx.IMS.AuditLogging.UI.LoggingFileExportHandler, AuditLogging.UI" />
		</httpHandlers>
		<webServices>
			<soapExtensionTypes>
				<add type="Karjeni.DAL.WebService.TraceExtension,DataAbstractionLayer.WebService.Factory" />
			</soapExtensionTypes>
		</webServices>
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.8" />
		<!--
			replace the uncommented line below with this if you want to see errors on the local server instead of only the redirect screen with which has no error message
		<customErrors mode="RemoteOnly" />
		-->
		<customErrors mode="On" defaultRedirect="PAErrorRedirect.html" />
		<authentication mode="Windows" />
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
		<globalization culture="en-AU" uiCulture="en-AU" />
		<pages controlRenderingCompatibilityVersion="4.8" />
	</system.web>
	<system.transactions>
		<defaultSettings timeout="00:02:00" />
	</system.transactions>
	<system.serviceModel>
		<services>
			<service name="Mincom.IMS.Security.Permissions.Service.PermissionsService" behaviorConfiguration="LargeDataTransferServiceBehavior">
				<endpoint contract="Mincom.IMS.Security.Permissions.Service.IPermissionsService" binding="netTcpBinding" address="net.tcp://localhost:14444/PermissionsService" bindingConfiguration="ReliableTCP" />
			</service>
			<service name="Mincom.IMS.ConfigurationService.ConfigurationService" behaviorConfiguration="LargeDataTransferServiceBehavior">
				<endpoint name="netTcpBinding" contract="Mincom.IMS.ConfigurationClient.IConfigurationService" address="net.tcp://localhost:14910/Configuration" binding="netTcpBinding" bindingConfiguration="SecureTCP" />
			</service>
			<!-- Start Notification WCF Services-->
			<service name="Karjeni.DAL.Events.EventDistributorWorking">
				<endpoint address="net.msmq://localhost/private/datamine.ims.portal.events" binding="netMsmqBinding" bindingConfiguration="MSMQ" contract="Mincom.IMS.Audit.IAuditEventListener" />
			</service>
			<!-- End Notification WCF Services-->
			<service name="Karjeni.DAL.WebService.Implementation.LogSheetService">
				<endpoint name="netMsmqBinding" address="net.msmq://localhost/private/datamine.ims.logsheets.service" binding="netMsmqBinding" contract="Karjeni.DAL.WebService.SimpleAbstractionDataConsumer" bindingConfiguration="MSMQ" />
			</service>
			<service name="CalcNet Recalculation Service" behaviorConfiguration="Heavily Throttled">
				<endpoint address="calcnet.recalc.svc" bindingConfiguration="RecalcBasicHTTPS" binding="basicHttpsBinding" contract="ABB.IMS.PA.CalcNet.Recalculator.IRecalcService" bindingNamespace="http://www.abb.com/ims/pa/calcnet/recalc" />
			</service>
		</services>
		<client>
			<endpoint name="NotificationSubscriptionClient" address="http://localhost:15200/Notification/SubscriptionService" binding="basicHttpBinding" contract="Ventyx.IMS.Notification.Contracts.ISubscriptionService" />
			<endpoint name="NotificationListenerService" address="net.msmq://localhost/private/datamine.ims.notification.service.events" binding="netMsmqBinding" bindingConfiguration="MSMQ_NMDataEvent" contract="Mincom.IMS.Audit.IAuditEventListener" />
			<!--endpoint name="AlertSubscriptionService" address="http://localhost:17012/Alert/AlertSubscriptionService" binding="basicHttpBinding" contract="Ventyx.IMS.AlertService.IAlertSubscriptionService" /-->
			<endpoint name="Mincom.IMS.Audit.Auditor" address="net.pipe://localhost/audit/auditor" binding="netNamedPipeBinding" bindingConfiguration="TransactionalPipe" contract="Mincom.IMS.Audit.IAuditService" />
			<!--endpoint name="Mincom.IMS.Audit.Auditor" address="net.tcp://localhost:16000/auditor" binding="netTcpBinding" bindingConfiguration="ReliableTCP" contract="Mincom.IMS.Audit.AuditService" /-->
			<!--endpoint name="BabelfishTransactionImporter" address="net.tcp://localhost:14006/TransactionRetriever" binding="netTcpBinding" bindingConfiguration="ReliableTCP" contract="Karjeni.DAL.Web.TransactionImporter.TransactionRetriever" /-->
			<endpoint name="LoggerService" address="net.msmq://localhost/private/datamine.ims.log.service" binding="netMsmqBinding" bindingConfiguration="MSMQ_Log" contract="Mincom.IMS.Logging.Contracts.ILoggingService" />
			<endpoint name="LogRetrievalService" address="net.pipe://localhost/log" contract="Mincom.IMS.Logging.Contracts.LogRetrievalService" binding="netNamedPipeBinding" bindingConfiguration="TransactionalPipe" />
			<endpoint name="LogSummaryDataRetrievalService" contract="Mincom.IMS.Logging.Contracts.ILogSummaryDataRetrievalService" address="net.pipe://localhost/logsummarydata" binding="netNamedPipeBinding" bindingConfiguration="TransactionalPipe" />
			<endpoint contract="Ventyx.IMS.Time.ILocalisingTimeMapper" address="net.pipe://localhost/time/timemapper" binding="netNamedPipeBinding" bindingConfiguration="TransactionalPipe" />
			<endpoint contract="Ventyx.IMS.Time.ITimeIntervalManager" address="net.pipe://localhost/time/timemanager" binding="netNamedPipeBinding" bindingConfiguration="TransactionalPipe" />
			<endpoint contract="Ventyx.IMS.Time.ITimeCallbackManager" address="net.pipe://localhost/time/timecallbackmanager" binding="netNamedPipeBinding" bindingConfiguration="TransactionalPipe" />
		</client>
		<bindings>
			<netTcpBinding>
				<binding name="ReliableTCP" sendTimeout="00:02:00" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" maxReceivedMessageSize="50388608" maxBufferSize="50388608">
					<readerQuotas maxStringContentLength="50388608" />
					<reliableSession enabled="true" />
				</binding>
				<binding name="SecureTCP" maxReceivedMessageSize="524288" maxBufferSize="524288">
					<readerQuotas maxStringContentLength="524288" />
					<reliableSession enabled="true" />
					<security mode="Transport">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
			<netMsmqBinding>
				<!-- Receiving Bindings Start -->
				<binding name="MSMQ" durable="true" exactlyOnce="true" useActiveDirectory="true" maxReceivedMessageSize="8388608" timeToLive="3.00:00:00" maxRetryCycles="6" retryCycleDelay="00:05:00" receiveRetryCount="2">
					<readerQuotas maxStringContentLength="8388608" />
					<!--
					<security mode="None"/>
					-->
					<security mode="Transport">
						<message algorithmSuite="TripleDesSha256Rsa15" />
						<transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="Aes" msmqSecureHashAlgorithm="Sha512" msmqProtectionLevel="EncryptAndSign" />
					</security>
					
				</binding>
				<!-- Receiving Bindings End -->
				<!-- Sending Bindings Start -->
				<binding name="MSMQ_NMDataEvent" durable="true" exactlyOnce="true" useActiveDirectory="true" receiveErrorHandling="Move" maxReceivedMessageSize="8388608" timeToLive="3.00:00:00" deadLetterQueue="Custom" customDeadLetterQueue="net.msmq://localhost/private/datamine.ims.notification.service.eventsdl">
					<readerQuotas maxStringContentLength="8388608" />
					<!--
					<security mode="None"/>
					-->
					<security mode="Transport">
						<message algorithmSuite="TripleDesSha256Rsa15" />
						<transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="Aes" msmqSecureHashAlgorithm="Sha512" msmqProtectionLevel="EncryptAndSign" />
					</security>
					
				</binding>
				<binding name="MSMQ_Log" durable="true" exactlyOnce="true" useActiveDirectory="true" receiveErrorHandling="Move" maxReceivedMessageSize="8388608" timeToLive="3.00:00:00" deadLetterQueue="Custom" customDeadLetterQueue="net.msmq://localhost/private/datamine.ims.log.servicedl">
					<readerQuotas maxStringContentLength="8388608" />
					<!--
					<security mode="None"/>
					-->
					<security mode="Transport">
						<message algorithmSuite="TripleDesSha256Rsa15" />
						<transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="Aes" msmqSecureHashAlgorithm="Sha512" msmqProtectionLevel="EncryptAndSign" />
					</security>
					
				</binding>
				<!-- Sending Bindings End -->
				<binding name="UnsecuredMSMQ" maxReceivedMessageSize="8388608" durable="true" exactlyOnce="true" useActiveDirectory="true">
					<readerQuotas maxStringContentLength="8388608" />
					<security mode="None" />
				</binding>
				<binding name="SecuredMSMQ" durable="true" exactlyOnce="true" useActiveDirectory="true" maxReceivedMessageSize="8388608">
					<readerQuotas maxStringContentLength="8388608" />
					<security mode="Transport">
						<message algorithmSuite="TripleDesSha256Rsa15" />
						<transport msmqAuthenticationMode="WindowsDomain" msmqEncryptionAlgorithm="Aes" msmqSecureHashAlgorithm="Sha512" msmqProtectionLevel="EncryptAndSign" />
					</security>
				</binding>
			</netMsmqBinding>
			<netNamedPipeBinding>
				<binding name="TransactionalPipe" transactionFlow="True" maxReceivedMessageSize="524288" maxBufferSize="524288">
					<readerQuotas maxStringContentLength="524288" />
					<security mode="Transport" />
				</binding>
			</netNamedPipeBinding>
			<basicHttpBinding>
				<binding name="SecureBasicHTTP" maxReceivedMessageSize="262144">
					<security mode="TransportCredentialOnly">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</basicHttpBinding>
			<basicHttpsBinding>
				<binding name="RecalcBasicHTTPS" maxReceivedMessageSize="1262144">
					<security mode="Transport">
						<transport clientCredentialType="Windows" />
					</security>
				</binding>
			</basicHttpsBinding>
		</bindings>
		<standardEndpoints>
			<webHttpEndpoint>
				<standardEndpoint helpEnabled="true" automaticFormatSelectionEnabled="true" />
			</webHttpEndpoint>
		</standardEndpoints>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WebHttpEndpoint">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="MEXEnabled">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
				<behavior name="Heavily Throttled">
					<serviceThrottling maxConcurrentCalls="1" maxConcurrentInstances="1" maxConcurrentSessions="1" />
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
				</behavior>
				<behavior name="metadataAndDebug">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="" />
					<serviceDebug httpHelpPageEnabled="true" includeExceptionDetailInFaults="true" />
				</behavior>
				<behavior name="LargeDataTransferServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="8388608" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.diagnostics>
		<sources>
			<!--<source name="System.ServiceModel" switchValue="Warning,Error,Critical" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Datamine\PA\Logs\datamine.ims.portal.svclog" />
				</listeners>
			</source>-->
		</sources>
	</system.diagnostics>
	<autofac>
		<components>
			<component type="Mincom.IMS.Logging.Contracts.LoggingClient, Logging.Contracts" service="Mincom.IMS.Logging.Contracts.LoggingService, Logging.Contracts">
				<parameters>
					<parameter name="endpointConfigurationName" value="LoggerService" />
				</parameters>
			</component>
			<component type="Mincom.IMS.Logging.Contracts.LogSummaryDataRetrievalClient, Logging.Contracts" service="Mincom.IMS.Logging.Contracts.ILogSummaryDataRetrievalService, Logging.Contracts">
				<parameters>
					<parameter name="endpointConfigurationName" value="LogSummaryDataRetrievalService" />
				</parameters>
			</component>
			<component type="Mincom.IMS.Logging.Contracts.LogRetrievalClient, Logging.Contracts" service="Mincom.IMS.Logging.Contracts.LogRetrievalService, Logging.Contracts">
				<parameters>
					<parameter name="endpointConfigurationName" value="LogRetrievalService" />
				</parameters>
			</component>
			<component type="Mincom.IMS.Audit.AbstractionEventServiceClient, Audit.EventContracts" service="Mincom.IMS.Audit.IAuditEventListener, Audit.EventContracts" instance-ownership="external" />
			<component type="Mincom.IMS.DataAbstractionLayer.ValueRetrieval.StandardCurrentValueRetriever, DAL2" service="Mincom.IMS.DataAbstractionLayer.ValueRetrieval.ICurrentValueRetriever, DAL2" />
			<!--bootstrappables-->
			<component type="Karjeni.DAL.Events.EventDistributor, DAL2" service="IMS.PA.Bootstrap.IRunnableBusinessLogic, IMS.PA.Bootstrap.API" name="Event Distributor" />
			<!--security user interfaces-->
			<component type="Karjeni.DAL.Web.Admin.PermissionsInterface, DataAbstractionLayer.Web" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Default" />
			<component type="Karjeni.DAL.Web.Admin.RootPermissionsInterface, DataAbstractionLayer.Web" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Tree Root" />
			<component type="Karjeni.DAL.Web.ProcessInterface.ProcessPermissionAdmin, DataAbstractionLayer.Web" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Process" />
			<component type="Karjeni.DAL.Web.Quarantine.QuarantinePermissions, DataAbstractionLayer.Web" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Quarantine" />
			<component type="Karjeni.Downtime.Web.DowntimePermissions, Karjeni.Downtime.Web" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Downtime" />
			<component type="Karjeni.Portal.Tabs.Security.PermissionEditor, Karjeni.Portal" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Portal" />
			<component type="Mincom.IMS.NickelWest.PlantLogSheets.AdminUI.AuthorisationInterface, NickelWest.PlantLogSheets" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Plant Logsheets" />
			<!--component type="Karjeni.Portal.StandardModules.Security.ConfigServicePermissionsAdmin, StandardModules.Security" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Config Service"/-->
			<component type="Karjeni.Portal.StandardModules.Security.PermitDenySettings, StandardModules.Security" service="Karjeni.Security.UI.IPermissionUI, Karjeni.Security" name="Simple Permit/Deny" />
			<component type="Mincom.IMS.CalcNet.Tracer.Exporter.CsvExporter, CalcNet.Tracer.Exporter" service="Mincom.IMS.CalcNet.Tracer.Exporter.IExporter, CalcNet.Tracer.Exporter" name="csv" />
		</components>
		<modules>
			<!-- Audit Logging Browser -->
			<!--module type="Ventyx.IMS.AuditLogging.UI.AuditLoggingInjectionModule, AuditLogging.UI" /-->
		</modules>
		<files>
			<!--file name="IOC.ConfigurationService.config" section="autofac" /-->
			<file name="ioc.dal.config" section="autofac" />
			<file name="ioc.portalmodules.config" section="autofac" />
			<file name="ioc.calctracer.config" section="autofac" />
		</files>
	</autofac>
	<recalculatorConfiguration configSource="recalcScheduler.config" />
</configuration>
